MITAEPOC1/MDMSharedResources/schema/full/ProductServices.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- ***************************************************** {COPYRIGHT-TOP} ***
* Licensed Materials - Property of IBM
* Restricted Materials of IBM
*
* 5725-E59
*
* (C) Copyright IBM Corp. 2011  All Rights Reserved.
*
* US Government Users Restricted Rights - Use, duplication, or
* disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
********************************************************** {COPYRIGHT-END} --><wsdl:definitions xmlns:mdmport="http://www.ibm.com/mdm/port/ProductServices" xmlns:mdm="http://www.ibm.com/mdm/schema" xmlns:mdmwsdl="http://www.ibm.com/mdm/wsdl/schema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:jaxws="http://java.sun.com/xml/ns/jaxws" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="ProductServices" targetNamespace="http://www.ibm.com/mdm/port/ProductServices">

<jaxws:bindings>
<jaxws:enableWrapperStyle>false</jaxws:enableWrapperStyle>
</jaxws:bindings>
<wsdl:types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.ibm.com/mdm/port/ProductServices">
<xsd:import namespace="http://www.ibm.com/mdm/schema" schemaLocation="PhysicalMDM.xsd"></xsd:import>
<xsd:import namespace="http://www.ibm.com/mdm/wsdl/schema" schemaLocation="MDMWSDLCommon.xsd"></xsd:import>
<xsd:complexType name="getTransactionLogInputType">
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" ref="mdm:RequestControl"></xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" ref="mdm:DWLTAILRequestBObj"></xsd:element>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="getTransactionLogOutputType">
<xsd:sequence>
<xsd:element maxOccurs="1" minOccurs="1" ref="mdm:ResponseControl"></xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" ref="mdm:TxResult"></xsd:element>
<xsd:element maxOccurs="1" minOccurs="1" ref="mdm:DWLTAILResponseBObj"></xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:element name="getTransactionLog" type="mdmport:getTransactionLogInputType"></xsd:element>
<xsd:element name="getTransactionLogResponse" type="mdmport:getTransactionLogOutputType"></xsd:element>
<xsd:element name="processingFault" type="mdmwsdl:ProcessingFaultType"></xsd:element>
</xsd:schema>
</wsdl:types>
<wsdl:message name="ProcessingFault">
<wsdl:part element="mdmport:processingFault" name="parameters"></wsdl:part>
</wsdl:message>
<wsdl:message name="GetTransactionLogRequest">
<wsdl:part element="mdmport:getTransactionLog" name="parameters"></wsdl:part>
</wsdl:message>
<wsdl:message name="GetTransactionLogResponse">
<wsdl:part element="mdmport:getTransactionLogResponse" name="parameters"></wsdl:part>
</wsdl:message>

<wsdl:portType name="ProductServicesPortType">
<wsdl:operation name="getTransactionLog">
<wsdl:documentation>This inquiry transaction returns transaction audit information
from the  audit
log tables, along with transaction history details from the history
tables.
</wsdl:documentation>
<wsdl:input message="mdmport:GetTransactionLogRequest"></wsdl:input>
<wsdl:output message="mdmport:GetTransactionLogResponse"></wsdl:output>
<wsdl:fault message="mdmport:ProcessingFault" name="ProcessingFault"></wsdl:fault>
</wsdl:operation>

</wsdl:portType>

<wsdl:binding name="ProductServicesHttpBinding" type="mdmport:ProductServicesPortType">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"></soap:binding>
<wsdl:operation name="getTransactionLog">
<soap:operation soapAction=""></soap:operation>
<wsdl:input>
<soap:body use="literal"></soap:body>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"></soap:body>
</wsdl:output>
<wsdl:fault name="ProcessingFault">
<soap:fault name="ProcessingFault" use="literal"></soap:fault>
</wsdl:fault>
</wsdl:operation>
</wsdl:binding>

<wsdl:service name="ProductServices">
<wsdl:port binding="mdmport:ProductServicesHttpBinding" name="ProductServicesPort">
<soap:address location="http://localhost:9082/MDMWSProvider/MDMService"></soap:address>
</wsdl:port>
</wsdl:service>

</wsdl:definitions>