MITAEPOC1/MDMSharedResources/schema/full/VirtualBridge.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- ***************************************************** {COPYRIGHT-TOP} ***
* Licensed Materials - Property of IBM
* Restricted Materials of IBM
*
* 5725-E59
*
* (C) Copyright IBM Corp. 2012  All Rights Reserved.
*
* US Government Users Restricted Rights - Use, duplication, or
* disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
********************************************************** {COPYRIGHT-END} --><wsdl:definitions xmlns:mdmport="http://www.ibm.com/mdm/port/VirtualBridge" xmlns:mdm="http://www.ibm.com/mdm/schema" xmlns:mdmwsdl="http://www.ibm.com/mdm/wsdl/schema" xmlns:jaxws="http://java.sun.com/xml/ns/jaxws" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="VirtualBridge" targetNamespace="http://www.ibm.com/mdm/port/VirtualBridge">

	<jaxws:bindings>
		<jaxws:enableWrapperStyle>false</jaxws:enableWrapperStyle>
	</jaxws:bindings>

	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.ibm.com/mdm/port/VirtualBridge">
			<xsd:import namespace="http://www.ibm.com/mdm/schema" schemaLocation="PhysicalMDM.xsd"></xsd:import>
			<xsd:import namespace="http://www.ibm.com/mdm/wsdl/schema" schemaLocation="MDMWSDLCommon.xsd"></xsd:import>

			<xsd:complexType name="virtualInteractionInputType">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" ref="mdm:RequestControl"></xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" ref="mdm:VirtualMDMBObj"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="virtualInteractionOutputType">
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" ref="mdm:ResponseControl"></xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" ref="mdm:TxResult"></xsd:element>
					<xsd:element maxOccurs="1" minOccurs="1" ref="mdm:VirtualMDMBObj"></xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:element name="virtualInteraction" type="mdmport:virtualInteractionInputType"></xsd:element>
			<xsd:element name="virtualInteractionResponse" type="mdmport:virtualInteractionOutputType"></xsd:element>

			<xsd:element name="processingFault" type="mdmwsdl:ProcessingFaultType"></xsd:element>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="VirtualInteractionRequest">
		<wsdl:part element="mdmport:virtualInteraction" name="parameters"></wsdl:part>
	</wsdl:message>

	<wsdl:message name="VirtualInteractionResponse">
		<wsdl:part element="mdmport:virtualInteractionResponse" name="parameters"></wsdl:part>
	</wsdl:message>

	<wsdl:message name="ProcessingFault">
		<wsdl:part element="mdmport:processingFault" name="parameters"></wsdl:part>
	</wsdl:message>

	<wsdl:portType name="VirtualBridgePortType">
		<wsdl:operation name="virtualInteraction">
			<wsdl:documentation>The virtualInteraction transaction is used by the
			virtual MDM SDK to communicate with the virtual MDM engine.</wsdl:documentation>
			<wsdl:input message="mdmport:VirtualInteractionRequest"></wsdl:input>
			<wsdl:output message="mdmport:VirtualInteractionResponse"></wsdl:output>
			<wsdl:fault message="mdmport:ProcessingFault" name="ProcessingFault"></wsdl:fault>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="VirtualBridgeHttpBinding" type="mdmport:VirtualBridgePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"></soap:binding>
		<wsdl:operation name="virtualInteraction">
			<soap:operation soapAction=""></soap:operation>
			<wsdl:input>
				<soap:body use="literal"></soap:body>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"></soap:body>
			</wsdl:output>
			<wsdl:fault name="ProcessingFault">
				<soap:fault name="ProcessingFault" use="literal"></soap:fault>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="VirtualBridge">
		<wsdl:port binding="mdmport:VirtualBridgeHttpBinding" name="VirtualBridgePort">
			<soap:address location="http://localhost:9082/MDMWSProvider/MDMService"></soap:address>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>